{{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.category) }}
    {{ form_row(form.introText) }}
    {{ form_row(form.publishDate) }}
    {{ form_row(form.published) }}
<h3>Text Contents</h3>
<ul class="textContents" data-prototype="{{ form_widget(form.textContents.vars.prototype)|e('html_attr') }}">
    {% for textContent in form.textContents %}
        <li>
            {{ form_row(textContent.title) }}
            {{ form_row(textContent.text) }}
        </li>
    {% endfor %}
</ul>
<button type="button" class="add_item_link" data-collection-holder-class="textContents">Add Text Content</button>
<br/>
<button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
